/* @import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap'); */

@font-face {
    font-family:'clockfont';
    src: url('/assets/alarm\ clock.ttf') format('opentype');
}


* {
    margin: 0;
    padding: 0;
    font-family: 'clockfont', sans-serif;
}

#timer {
    font-size: 15vw;
    height: 100%;

}
